@using SWH.Data.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <button class="col-md-3 btn btn-primary">Export Data To XML</button>
    <div class="row">
        <div class="col-12">
            @(Html.Kendo().Grid<Person>()
                .Name("gridPerson")
                .Columns(columns =>
                {
                    columns.Bound(p => p.Id).Hidden();
                    columns.Bound(p => p.UserName);
                    columns.Bound(p => p.FirstName);
                    columns.Bound(p => p.LastName);
                    columns.Bound(p => p.BirthDay).Format("{0:yyyy/MM/dd}");
                    columns.Bound(p => p.PlaceOfBirth);
                    columns.Bound(p => p.Domicile);
                    columns.Command(command => command.Custom("ViewDetails").Click("showDetails"));
                })
                .HtmlAttributes(new {style = "height:550px;"})
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(20)
                    .Read(read => read.Action("GetAllPersons", "GridPerson"))
                )
                )
        </div>
    </div>
</div>

@(Html.Kendo().Window().Name("Details")
    .Title("Customer Details")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(300)
    )

@section scripts
{
    <script type="text/x-kendo-template" id="template">
        <div id="details-container">
            <h2>#= UserName #</h2>
            <h2>#= FirstName # #= LastName #</h2>
            <h2>#= PlaceOfBirth #</h2>
            <h2>#= BirthDay #</h2>
            <h2>#= Domicile #</h2>
        </div>
    </script>
    
    <script type="text/javascript">
        var detailsTemplate;
    
        $(document).ready( function () {
            detailsTemplate = kendo.template($("#template").html());
        });
    
        function showDetails(e) {
            e.preventDefault();
    
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var wnd = $("#Details").data("kendoWindow");
    
            wnd.content(detailsTemplate(dataItem));
            wnd.center().open();
        }
    </script>
    
    <style type="text/css">
        #details-container
        {
            padding: 10px;
        }
    
        #details-container h2
        {
            margin: 0;
        }
    
        #details-container em
        {
            color: #8c8c8c;
        }
    
        #details-container dt
        {
            margin:0;
            display: inline;
        }
    </style>
}

