@using SWH.Data.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <button class="col-md-3 btn btn-primary">Export Data To XML</button>
    <div class="row">
        <div class="col-12">
            @(Html.Kendo().Grid<Person>()
                .Name("gridPerson")
                .Columns(columns =>
                {
                    columns.Bound(p => p.Id).Hidden();
                    columns.Bound(p => p.UserName);
                    columns.Bound(p => p.FirstName);
                    columns.Bound(p => p.LastName);
                    columns.Bound(p => p.BirthDay).Format("{0:yyyy/MM/dd}");
                    columns.Bound(p => p.PlaceOfBirth);
                    columns.Bound(p => p.Domicile);
                    columns.Command(command => command.Custom("ViewDetails").Click("showDetails"));
                })
                .HtmlAttributes(new {style = "height:550px;"})
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(20)
                    .Read(read => read.Action("GetAllPersons", "GridPerson"))
                )
                )
        </div>
    </div>
</div>

@(Html.Kendo().Window().Name("Details")
    .Title("Person Details Form")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(500)
    )

@section scripts
{

    <script type="text/javascript">     
        function showDetails(e) {
            e.preventDefault();
        
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            console.log(Object.values(dataItem)[2])  
                         
                         
            $.ajax({
                url: 'Home/Details/',
                type: 'GET',
                data: {
                    personId: Object.values(dataItem)[2],
        
                },
                success: function(result) {
                    console.log(result)
                    var wnd = $("#Details").data("kendoWindow");
                    wnd.content(result);
                    wnd.center().open();
                }
            });
        }
    </script>
}